<!DOCTYPE html>
<html ng-app="example366">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Script Tutorials" />
    <title>Photo Gallery with AngularJS and CSS3 | Script Tutorials</title>
    <meta name="description" content="Photo Gallery with AngularJS and CSS3 - demo page">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- add styles -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <!-- add javascripts -->
    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="http://code.angularjs.org/1.2.0rc1/angular.js"></script>
    <script src="http://code.angularjs.org/1.2.0rc1/angular-animate.min.js"></script>
    <script src="http://code.angularjs.org/1.2.0rc1/angular-touch.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
	<script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.5/angular-material.js"></script>
	<!-- <script src=""></script>
	<script src=""></script> -->
    <script src="js/app.js"></script>
</head>
<body ng-controller="MainCtrl">
    <header text-align="center" align="center">
        <a href="index.html" style="text-decoration:none;"><h1>RYU Digital Warehouse </h1></a>
    </header>
    <!-- slider container -->
	<table border="1"> 
		<tr> 
			<td width="25%">
				<h1 align="center">Assessment for the chosen image
			</td>
			<td width="50%">
				<!-- <input type="button" value="run" onclick="RunExe()"> -->
				 <input name="myFile" type="file"><button onclick="RunExe()">Submit</button>
				<div class="container slider">
	
					<!-- enumerate all photos -->
					<img ng-repeat="photo in photos" class="slide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" ng-src="{{photo.src}}" />
					<!-- prev / next controls -->
					<a class="arrow prev" href="#" ng-click="showPrev()"></a>
					<a class="arrow next" href="#" ng-click="showNext()"></a>
					<a class="btns printer" href="#" ng-click="callPrinter()" alt="Print"></a>
					<a class="btns simulate" href="#" ng-click="callSimulator()" alt="Simulate"></a>
					<a class="btns editor" href="#" ng-click="callEditor()" alt="Edit"></a>
					<a class="btns assess" href="#" ng-click="callAssess()" alt="Assess"></a>
					<a class="btns ps" href="#" ng-click="callPs()" alt="Purchase.."></a>
					<!-- extra navigation controls -->
					<ul class="nav">
						<li ng-repeat="photo in photos" ng-class="{'active':isActive($index)}">
							<img src="{{photo.src}}" alt="{{photo.desc}}" id="{{photo.id}}" title="{{photo.desc}}" style="{{photo.disp}}" ng-click="showPhoto($index);" />
						</li>
					</ul>
				</div>
			</td>
			
			<td width="25%">
				<h1 align="center">Printer Status
				</br></br></br></br></br></br> Printer DashBoard
			</td>
		</tr>
	</table>
    
	<!-- <button ng-click="callme(photo.id)" >  Increment </button>-->
</body>
<script>
function RunExe(){
    var shell = new ActiveXObject("WScript.Shell");
    var path = '"D:/3D_Printing/Assess/Change.bat"';
    shell.run(path,1,false);
	
	/*var shell1 = new ActiveXObject("WScript.Shell");
    var path1 = '"D:/3D_Printing/Assess/Change2.bat"';
    shell1.run(path1,1,false);*/
	
	window.location.reload();
}     
</script>
</html>